Checks: >
  *,
  -android-*,
  -llvm-*,
  -bugprone-branch-clone,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -google-readability-casting,
  -google-readability-todo,
  -hicpp-uppercase-literal-suffix,
  -readability-else-after-return,
  -readability-uppercase-literal-suffix,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -hicpp-no-assembler,
  -llvmlibc-restrict-system-libc-headers,
  -cppcoreguidelines-macro-to-enum,
  -modernize-macro-to-enum,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -altera-struct-pack-align,
  -altera-unroll-loops
HeaderFilterRegex: '.*'
WarningsAsErrors: '*'
